#table {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  #table td, #table th {
    border: 1px solid #ddd;
    padding: 8px;    
  } 
  
  a {
    color: black;
    height: 100%;
    text-decoration: none;
  }

  #table tr:nth-child(even){background-color: #f2f2f2;}
  
  #table tr:hover {background-color: #ddd;} 
  
  #table th {
    padding-top: 12px;
    padding-bottom: 12px;    
    background-color: #4CAF50;
    color: white;
    text-align: center;
  }

  #table thead, .topButton {
    position: sticky; top: 0;
  }

  #number, #stat {
    width: 8.33%
  }

  #name, #type {
    width: 16.67%;
  }